<div class="row" *ngIf="displayList">
    <div class="col-md-6">
        <ul *ngIf="displayList" class="list-group">
            <li *ngFor="let m of movies, let i = index" class="list-group-item" [class.active]="movieBeingDisplayed === m">
        
                <div class="row">
                    <div class="col-md-6    ">
                        <p *ngIf="!movieIdsBeingEdited[i]">{{ m.title }}</p>
                        <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="m.title" placeholder="Edit Movie Title">
                        <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="m.image" placeholder="Edit Movie image">
                        <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="m.description" placeholder="Edit Movie description">   
                    </div>
                    <div class="col-md-6">
                        <button *ngIf="!movieIdsBeingEdited[i]" class="btn btn-info" float-right mx-1 (click)="onViewMovieDetails(m)">View</button>
                        <button *ngIf="!movieIdsBeingEdited[i]" (click)="onStartEditMovie(i)" class="btn btn-warning">Edit</button>
                        <button *ngIf="movieIdsBeingEdited[i]" (click)="onSaveEditMovie(i)" class="btn btn-success">Save</button>
                        <button (click)="onDeleteMovie(i)" class="btn btn-danger">X</button>
                    </div>
                </div>
            </li>
        </ul>   
    </div>
    <div class="col-md-6" *ngIf="movieBeingDisplayed">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{movieBeingDisplayed.image}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{movieBeingDisplayed.title}}</h5>
                  <p class="card-text">{{movieBeingDisplayed.description}}</p>
                </div>
              </div>
    </div>
    <!--<div [class.active] = -->
        
    </div>



    <!--NOTES-->
    <!-- <li *ngFor="let m of movies" [movies.selected]="m === selectedMovie" (click)="onSelect(m)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->

<!-- <button (click)="onToggleDisplay()">View List</button> -->

<!--Can -->

<!--SHOWING OBJ/OBJ... updated instances of m to show m.title-->